.navbar {
  height: 50px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}
.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  color: var(--blue);
  cursor: pointer;
  border-radius: 2px;
}
.logoutUser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logout {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(84, 84, 153);
  color: white;
  font-weight: bold;
  padding: 10px 15px;
}
