.featuredProp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.propertyItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.propertyImg {
  width: 100%;
}
.propertyName {
  font-weight: bold;
}
.propertyCity {
  font-weight: 300;
}
.propertyPrice {
  font-weight: 600;
}
.propertyRating > button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}
.propertyRating > span {
  font-size: 14px;
}
